@charset "EUC-KR";

html, body {
	height: 100%;
}
#container {
    min-height:100%;    
}
.inputArea {
	margin:10px 0; 
}
select {
	width:100px; 
}
label {
	display:inline-block; width:70px; padding:5px; 
}
label[for='gdsDes'] { 
	display:block; 
}
input { 
	width:150px; 
}
textarea#gdsDes { 
	width:400px; height:180px; 
}
#header_line {
	display: block;
	border-top: 1px solid #d5cbcb;
	width: 100%;
}
#form_view {
	margin: auto;
    width: 60%;
}
label {
	font-weight: bold;
}
#btn_modify, #btn_delete {
    border-radius: 4px;
    background-color: #f3bdc2;
    border-width: 1px;
    color: white;
    font-weight: bold;
    border: none;
}
.img_ori {
	width: 500px;
	height: auto;
}
