@charset "EUC-KR";

html, body {
	height: 100%;
}
#container {
    min-height:100%;    
}

 div#container_box ul li { 
 	border:5px solid #eee; 
 	padding:10px 20px; 
 	margin-bottom:20px;
 	display: flow-root; 
 }
 .orderList {
    margin: auto;
    width: 1000px;
    list-style: none;
 }
 div#container_box .orderList span { 
 	font-size:20px; 
 	font-weight:bold; 
 	display:inline-block; 
 	width:90px; 
 	margin-right:10px; 
 }
 section#content .orderList span { 
	font-size:18px; 
	font-weight:bold; 
	display:inline-block; 
	width:90px; 
	margin-right:10px; 
}
#orderID {
	color: #ff0080;
}
