@charset "EUC-KR";

html, body {
	height: 100%;
}
#container {
    min-height:100%;    
}
/*
#content ul li {
	display: inline-block;
	margin: 10px;
}
#content div.goodsName {
	padding: 10px 0;
	text-align: center;
}
#content div.goodsName a {
	color: #000;
}
section#content div.goodsThumb img { 
	width:200px; 
	height:200px; 
}
section#content div.goodsName { 
	padding:10px 0; 
	text-align:center; 
}
section#content div.goodsName a { 
	color:#000; 
}

*/

#content {
	display: flow-root;
}
section#content ul li img { 
	width:250px; 
	height:250px; 
}
section#content ul li::after { 
	content:""; 
	display:block; 
	clear:both;
}
section#content div.thumb { 
	float:left; 
	width:250px;
}
section#content div.gdsInfo { 
	float:right; 
	width:calc(100% - 270px);
	margin-left: 30px;
	margin-bottom: 30px;
}
#tblCart { 
	font-size:18px; 
	line-height:2; 
	padding-left: 7%;
	padding-bottom: 20px;
}
#tblCart span {
	display:inline-block; 
	width:100px; 
	font-weight:bold;
}
#tblCart img {
	width: 250px;
}

#aside {
	height: 100%;
}

section#content ul li { 
	margin:10px 0; 
	display: flex;
}
section#content ul li img { 
	width:250px; 
	height:250px; 
}
section#content ul li::after { 
	content:""; 
	display:block; 
	clear:both; 
}
section#content div.thumb { 
	float:left; 
	width:250px; 
}
section#content div.gdsInfo { 
	float:right; 
	width:calc(100% - 270px); 
}
section#content div.gdsInfo { 
	font-size:20px; 
	line-height:2; 
	width: 500px;
}
section#content div.gdsInfo span { 
	display:inline-block; 
	width:100px; 
	font-weight:bold; 
	margin-right:10px; 
}
section#content div.gdsInfo .delete { 
	text-align:right; 
}
section#content div.gdsInfo .delete button { 
	font-size:17px;
	padding:5px 10px; 
	border:1px solid #f3bdc2; 
	background:#f3bdc2;
	border-radius: 5px;
	color: white;
    font-weight: bold;
}

.allCheck { 
	float:left; 
	width:200px; 
}
.allCheck input { 
	width:16px; 
	height:16px; 
}
.allCheck label { 
	margin-left:10px; 
}
.delBtn { 
	float:right; 
	width:700px; 
	text-align:right; 
}
.delBtn button { 
	font-size:18px;  
	padding:5px 10px; 
	border:1px solid #f3bdc2; 
	background:#f3bdc2;
	border-radius: 5px;
	color: white;
    font-weight: bold;
}
.checkBox { 
	float:left; 
	width:30px; 
}
.checkBox input { 
	width:16px; 
	height:16px; 
}
.form_info {
	display: flow-root;
}
.listResult { 
	padding:20px; 
	background:#eee;
	display: flow-root;
    width: 800px;
}
.listResult .sum { 
	float:left; 
	width:45%; 
	font-size:22px; 
}
.listResult .orderOpne { 
	float:right; 
	width:45%; 
	text-align:right; 
}
.listResult .orderOpne button { 
	font-size:18px; 
	padding:5px 10px; 
	border: 1px solid #f3bdc2;
    background: #f3bdc2;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}
.listResult::after { 
	content:""; 
	display:block; 
	clear:both; 
}
.orderInfo { 
	border: 5px solid #eee; 
	padding: 20px;
	display: none;
	display: flow-root;
	width: 790px; 
}
.orderInfo .inputArea { 
	margin: 10px 0; 
}
.orderInfo .inputArea label { 
	display: inline-block; 
	width: 120px; 
	margin-right: 10px; 
}
.orderInfo .inputArea input { 
	font-size: 14px; 
	padding: 5px; 
}
#userAddr, #userAddrDetail { 
	width: 250px; 
}
.orderInfo .inputArea:last-child { 
	margin-top:30px; 
}
.orderInfo .inputArea button { 
	font-size: 18px;
    border: 2px solid #f3bdc2;
    padding: 5px 10px;
    background: #f3bdc2;
    margin-right: 20px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}
.orderInfo .inputArea #sample2_address { 
	width:230px; 
	margin: 10px 0;
}
.orderInfo .inputArea #sample2_detailAddress { 
	width:280px; 
}

