@charset "EUC-KR";

html, body {
	height: 100%;
}
#container {
    min-height:100%;    
}
#content ul li {
	display: inline-block;
	margin: 10px;
}
#content div.goodsThumb img {
	width: 200px;
	height: 200px;
}
#content div.goodsName {
	padding: 10px 0;
	text-align: center;
}
#content div.goodsName a {
	color: #000;
}
#aside {
	height: 100%;
}