@charset "EUC-KR";

html, body {
	height: 100%;
}
#container {
    min-height:1200px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}
.board_main {
	text-align: center;
}
#img_slide {
	list-style: none;
}
#board_main {
	border-spacing: 5px;
	border-collapse: separate;
	display: inline-block;
}
.board_main td {
	width: 200px;
	height: 200px;
	background: #f9cfb0;
	border-radius: 5px;
	
}
#register_btn {
	position: fixed;
    z-index: 1;
    right: 150px;
    top: 800px;
}
#register_img {
	width: 100px;
}
