@charset "EUC-KR";

html, body {
	height: 100%;
}
#container {
    min-height:1200px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}
.slider {
	width: 1200px;
	height: 350px;
	margin-bottom: 20px;
}
.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}
.slider .indicators {
  bottom: 60px;
  z-index: 100;
  /* text-align: left; */
}
#board_main {
	width: 1200px;
	border-spacing: 5px;
	border-collapse: separate;
}
.board_main td {
	width: 200px;
	height: 200px;
	background: #f9cfb0;
	border-radius: 5px;
	
}
#register_btn {
	position: fixed;
    z-index: 1;
    right: 150px;
    top: 800px;
}
#register_img {
	width: 100px;
}
