<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.mappers.adminMapper">

	<!-- 카테고리 호출 -->
	<select id="category" resultType="com.sunny.domain.CategoryVO">
		select 1 as level, cateName, cateCode, cateCodeRef
		from tbl_goodscategory
		where cateCodeRef is null union all
		select 2 as level, cateName, cateCode, cateCodeRef
		from tbl_goodscategory
		where cateCodeRef is not null 
		order by cateCode
	</select>
	
	<!-- 상품 등록 -->
	<insert id="register">
		insert into tbl_goods (gdsName, cateCode, gdsPrice, gdsStock, gdsDes, gdsImg, gdsThumbImg)
			values (#{gdsName}, #{cateCode}, #{gdsPrice}, #{gdsStock}, #{gdsDes}, #{gdsImg}, #{gdsThumbImg})
	</insert>
	
	<!-- 상품 목록 -->
	<select id="goodslist" resultType="com.sunny.domain.GoodsViewVO">
		 select
		 	g.gdsNum, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, 
		 	gdsStock, gdsDes, gdsImg, gdsDate, g.gdsImg, g.gdsThumbImg
         from tbl_goods g
             inner join tbl_goodscategory c
                 on g.cateCode = c.cateCode
	</select>
	
	<!-- 상품 조회 -->
	<!-- 
	<select id="goodsView" resultType="com.sunny.domain.GoodsVO">
 		select gdsNum, gdsName, cateCode, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate
     	from tbl_goods
        where gdsNum = #{gdsNum}
	</select>
	 -->
	 
	 <!-- 상품 조회(카테고리까지) -->
	 <select id="goodsView" resultType="com.sunny.domain.GoodsViewVO">
	 	select
	 		g.gdsNum, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, gdsStock, gdsDes, 
	 		gdsImg, gdsDate, g.gdsImg, g.gdsThumbImg
        		from tbl_goods g
        			inner join tbl_goodscategory c 
        			on g.cateCode = c.cateCode          
        		where g.gdsNum = #{gdsNum}
	 </select>
	 
	 <!-- 상품 수정 -->
	 <update id="goodsModify">
	 	update tbl_goods
		 	set
		 		gdsName = #{gdsName},
		 		cateCode = #{cateCode},
		 		gdsPrice = #{gdsPrice},
		 		gdsStock = #{gdsStock},
		 		gdsDes = #{gdsDes},
		 		gdsImg = #{gdsImg},
		 		gdsThumbImg = #{gdsThumbImg}
	 	where gdsNum = #{gdsNum}
	 </update>
	 
	 <!-- 상품 삭제 -->
	 <delete id="goodsDelete">
	 	delete from tbl_goods
	 	where gdsNum = #{gdsNum}
	 </delete>

</mapper>
